@charset "utf-8";
/* CSS Document */
.topBarLogoDiv {
	z-index: 99;
	height: 120px;
	width: 120px;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	padding: 10px 0px;
	background-color: #F0F0F0;
	border-bottom-right-radius: 90%;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05),-1px 4px 5px rgba(0,0,0,0.2);
}
.topBarLogo {
	position: relative;
	height: 85px;
}


.c_body{
	background:#F9F9F9;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
/*--- Special Custom Attributes Classes ---*/
.c_no_padding{
	padding-left:0px;
	padding-right:0px;
}
.c_float_right{
	float:right;
}
.c_href{
	text-decoration:none;
	color:#FFFFFF;	
}
.c_href:hover{
	text-decoration:none;
	color:#F4F4F4;
}
/*--- Special Custom Attributes Classes ---*/

/*--- Font Styles ---*/
.c_font_1{
	color:#32A041;
	font-size:15px;
}
.c_font_2{
	color:#FFFFFF;
	font-size:36px;
	font-weight:200;
}
.c_font_4{
	color:#39b54a;
	font-size:33px;
}
.c_font_5{
	color:#FFFFFF;
	
}
/*--- Font Styles ---*/

/*----- TextBox Styles ----- */
.c_search_text_box{
	margin-top:8px;
	width:250px;
	padding:7px;
	border:0px;
	background:rgba(255,255,255,0.57);
	border-top-left-radius:12px;
	border-bottom-left-radius:12px;
}
.c_search_text_box:focus{
	outline:none;
	box-shadow:0px 0px 10px #008201;
}
.c_text_box_1{
	width:100%;
	padding:7px 12px;
	border-radius:12px;
	border:1px solid #C4C4C4;
	background:#FFFFFF;
}
.c_text_box_1:focus{
	outline:none;
	box-shadow:0px 0px 10px #008201;
}
/*--- Pop up boxes---*/
.c_pop_up_box_1{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	z-index:999999;	
}
.c_pop_box_1_wrapper{
	padding:8px;
	background:#FFFFFF;
	width:338px;
	margin-top:10%;
	box-shadow:0px 0px 10px #000000;
}
#c_sign_in_box {	
	background-color: rgba( 57, 181, 74,0.9);
	width: 322px;
	height: 347px;
	z-index: 40;
	padding:5px 20px;
}
/*--- Pop up boxes ---*/
.c_ul_1{
	list-style:none;
	padding:0px;
}

.c_button_1{
	width:100%;
	background:#228500;
	border:1px solid #228500;
	padding:10px 20px;
	color:#FFFFFF;
	font-size:25px;
}
.c_button_1:hover{
	background:#2AA700;
}
.c_add_margin_20{
	margin-bottom:20px;
}
.c_container{
	background:#FFFFFF;
	max-width:1280px;
}
.c_logo{
	width:90px;
}
.c_admin_top_user{
	background:#39b54a;
	border-bottom-left-radius:10px;
	padding:5px 10px;
}
.c_top_ul{
	padding:0px;
	list-style:none;
	margin-bottom:0px;

}
.c_top_ul li{
	display:inline-block;
}

.c_user_top_logo{
	width:35px;
	margin-right:10px;
}
.c_admin_left_nav{
	max-width:250px;
	color:#FFFFFF;
}
.c_admin_ul{
	font-size:16px;
}
.c_admin_ul>li{
	padding:7px 15px;
	background:#39b54a;
	border-bottom:2px solid #0F7400;
}
.c_admin_ul>li:hover{
	background:#007C0E;
	cursor:pointer;
}
.c_admin_ul_in{
	font-size:13px;
	list-style:none;
	padding:0px;
}
.c_admin_ul_in>li{
	padding:5px 20px;
	padding-left:45px;
}
.c_admin_ul_in>li:hover{
	background:#007C0E;
}
#admin_left_nav_doc:hover,#admin_left_nav_pat:hover{
	background:#39b54a !important;
}
.glyphicon{
	float:right;
}
.c_right_gly{
	margin-top:3px;
	margin-right:-140px;
}
.c_right_gly1{
	margin-top:3px;
	margin-right:-67px;
}
#c_footer{
	background:#39b54a;
}
#admin_home_div{
	height:549px;
	width:920px;
	overflow-x:hidden;
	overflow-y:scroll;
	background:#E8E8E8;
}

#admin_home_div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#admin_home_div::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#admin_home_div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #39B54A;
}
.c_admin_ul_li{
	background: #2ca02c;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.c_admin_li_sel{
	background:#00890E;
}


.c_text_box_2{
	width:800px;
	height:150px;
	padding:7px 12px;
	border-radius:12px;
	border:1px solid #C4C4C4;
	background:#FFFFFF;
}
.active{
	background: rgba(0, 0, 0, 0.71) !important;
}
.doc_admin_tab_active{
	background:#2d502a !important;
	box-shadow: 0px 5px 10px #000;
}
.doc_admin_tab_1{
	font-size: 16px;
	cursor: pointer;
	background:#349641 ;
}
.doc_admin_tab_1:hover{
	background:#2e873a;
}
.doc_admin_tab_1>p{
	margin-bottom: 0px;
	color: #FFF;
	text-align: center;
	padding: 10px 0px;
}
.doc_admin_tab_2{
	background:rgba(82,158,75,0.18) ;
}
.doc_admin_hd_1{
	font-weight: 500;
	margin-top: 15px;
	padding: 7px 0px;
	font-size: 24px;
	border-bottom: 2px solid #d62728;
}
.doc_form_group{
	margin-bottom: 10px;
}
.doc_form_group>span{
	float: left;
	margin-bottom: 10px;
}
.doc_form_left{
	padding-right: 10px;
}
.doc_form_right{
	padding-left: 10px;
}
.c_select_box_1{
	width:100%;
	padding:7px 12px;
	border-radius:12px;
	border:1px solid #C4C4C4;
	background:#FFFFFF;
}
.c_select_box_1:focus{
	outline:none;
	box-shadow:0px 0px 10px #008201;
}
.doc_profile_thumb{
	height: 225px;
	width:100%;
	border: 2px solid #0F7400;
}
.doc_thumb_select_btn{
	width: 100%;
	padding: 7px 10px;
	margin-top: 20px;
	color: #FFF;
	border: 1px solid #0F7400;
	border-radius: 7px;
	background: #4cae4c;
}
.doc_thumb_select_btn:focus{
	outline: none;
	background: #01A200;
}

.doc_admin_text_area{
	width: 100%;
	max-width: 100%;
	height: 120px;
	padding:7px 12px;
	border-radius:12px;
	border:1px solid #C4C4C4;
	background:#FFFFFF;
}
.doc_admin_text_area:focus{
	outline:none;
	box-shadow:0px 0px 10px #008201;
}

.c_error_input_field_highlight{
	background: rgb(255, 174, 121) !important;
}
.c_error_input_field_highlight::-webkit-input-placeholder {
	color: #FFF !important;
}


/**
 * Doctor Confirm Page CSS
 */
.doc_con_th_table{
	background: #888888;
	color: #FFF;
	width: 100%;
}
.doc_con_first_th{
	width: 5%;
	text-align: center;
	padding: 5px 0px;
	border-right: 1px solid #635E5E;
	border-left: 1px solid #635E5E;
}
.doc_con_com_th{
	text-align: center;
	padding: 5px 0px;
	border-right: 1px solid #635E5E;
}
.doc_com_first_td{
	text-align: center;
	padding: 5px 0px;
	border-right: 1px solid #635E5E;
	border-left: 1px solid #635E5E;
	border-bottom: 1px solid #635E5E;
}
.doc_con_com_td{
	overflow-x: hidden;
	text-align: center;
	padding: 5px 0px;
	border-right: 1px solid #635E5E;
	border-bottom: 1px solid #635E5E;
}
.doc_con_tr{
	cursor: pointer;
}
.doc_con_tr:hover{
	background: rgba(24, 146, 0, 0.56);
	color: #FFF;
}
#doc_con_load_img{
	height: 172px;
	background-size: 185px;
	background-position: -3px;
}
.doc_pop_container{
	top: 66px;
	position: fixed;
	background: rgba(0, 0, 0, 0.44);
	width: 914px;
	height: 100%;
}
#doc_confirm_pop_up{

}

/*
 * Admin Chat CSS >>> Start
 */
.chat_active_div{
	background: #FFF;
	padding: 10px 0px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}
.chat_user_icon{
	margin: 0 auto;
	border-radius: 100px;
	border: 3px solid #f59e00;
	width: 110px;
	height: 110px;
	background-size: 185px;
	background-position-x: -38px;
	background-color: #FFF;
}
.chat_fonr_1{
	font-weight: 400;
	font-size: 15px;
	text-align: center;
}
.chat_start_btn{
	cursor: pointer;
	margin: 10px 0px;
	width: auto;
	background-color: #f59e00;
	border-radius: 5px;
	padding: 5px 10px;
	color: #FFF;
}
.chat_start_btn:hover{
	background-color: #c17800;
}
.chat_start_btn img{
	width: 25px;
}
.c_chat_pop_up_container{
	top: 76px;
	width: 65.45%;
	height: 82.5%;
	position: fixed;
	z-index: 9999;
	background: rgba(171, 171, 171, 0.55);
}
.chat_pop_up{
	width: 450px;
	height: 450px;
	background: #ffffff;
	margin: auto;
	margin-top: 45px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.66);
}
.waiting_confirm{
	padding: 30px 118px;
	width: 450px;
	height: 110px;
	background: #ffffff;
	margin: auto;
	margin-top: 210px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.66);
}
.confirm_success{
	padding: 30px 100px;
	width: 450px;
	height: 110px;
	background: #ffffff;
	margin: auto;
	margin-top: 210px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.66);
}
.c_chat_msg_text_1{
	background:rgb(255, 255, 255);
	display: inline-block;
	float: right;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.65);
	/* margin: -18px 24px 10px 20px; */
	margin-left: 12px;
	border: 1px solid #009A93;
}
.c_chat_icon_1{
	width: 20px;
	float: right;
	z-index: 1000;
	margin-right: 2px;
}
.c_chat_msg_text_2{
	background: rgb(255, 255, 255);
	display: inline-block;
	float: left;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.65);
	/* margin: -18px 20px 10px 24px; */
	margin-right: 12px;
	border: 1px solid #A90000;
}
.c_chat_icon_2{
	width: 20px;
	float: left;
	z-index: 1000;
	margin-left: 2px;
}
.c_chat_box{
	height: 90%;
	width: 100%;
	padding-top: 12px;
	overflow-y: scroll;

}
.c_chat_box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.c_chat_box::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}
.c_chat_box::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #19b901;
}
#chat_message_txt{
	width: 83%;
	height: 100%;
	padding:0px 5px 0px 5px;
}
.c_chat_send{
	float: right;
	width: 17%;
	height: 100%;
	background: #ff9715;
	border: 0px;
	cursor: pointer
}
.c_chat_send:hover{
	background: #de8214;
}
#chat_message_txt::-webkit-input-placeholder {
	padding-left: 10px;
	color: rgb(0, 0, 0) !important;
	font-style: italic;
}
/*
 * Admin Chat CSS <<< End
 */

/*-------------------------- patient admin CSS  --------------------------------------*/

.pat_admin_tab_active{
	background:#2d502a !important;
	box-shadow: 0px 5px 10px #000;
}
.pat_admin_tab_1{
	font-size: 16px;
	cursor: pointer;
	background:#349641 ;
}
.pat_admin_tab_1:hover{
	background:#2e873a;
}
.pat_admin_tab_1>p{
	margin-bottom: 0px;
	color: #FFF;
	text-align: center;
	padding: 10px 0px;
}
.pat_admin_tab_2{
	background:rgba(82,158,75,0.18) ;
}

.c_pat_result_div{
	background: rgba(0, 76, 17, 0.14);
	padding: 15px 7px;
	margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.58);
}
.c_pat_result_div:hover{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.88);
	border-radius: 5px;
}
.c_hr_1{
	margin: 0px;
	border:1px solid rgba(3,86,0,1.00);
}
.c_pat_view_btn{
	width: 200px;
	
	padding: 7px;
	background: #006d16;
	border:1px solid #006d16;
	border-radius: 3px;
	color: #FFF;
}
.c_pat_view_btn1{
	width: 100%;
	
	padding: 5px;
	background: #006d16;
	border:1px solid #006d16;
	border-radius: 3px;
	color: #FFF;
}
.c_pat_view_btn3{
	width: 100px;

	padding: 7px;
	background: #006d16;
	border:1px solid #006d16;
	border-radius: 3px;
	color: #FFF;
}
.c_ul_1{
	list-style:none;
	padding:0px;
}



.pat_doc_box{
	background: rgba(0, 76, 17, 0.14);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.58);
}
.pat_doc_box:hover{
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.88);
	border-radius: 5px;
}
#c_loading_msg{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	z-index:999999;
}

.c_pop_box_1_wrapper1{
	padding:8px;
	background:#00890E;
	width:338px;
	margin-top:10%;
	box-shadow:0px 0px 10px #000000;
}

#pat_imgload_1{
	background-image:url(../img/pattern.jpg);
}

.pat_admin_text_area1{
	width: 100%;
	max-width: 100%;
	height: 80px;
	padding:7px 12px;
	border-radius:12px;
	border:1px solid #C4C4C4;
	background:#FFFFFF;
}
.pat_admin_text_area1:focus{
	outline:none;
	box-shadow:0px 0px 10px #008201;

}


.pat_health_head{
	padding: 5px 10px;
	background: #39B54A;
	color: #FFFFFF;
	font-size: 12px;
	box-shadow: 0px 0px 10px black;
	margin-top: 33px;
	position: absolute;
	margin-left: 270px;
	z-index:999980;

}

.pat_sub_banner{
	background:rgba(0,0,0,0.80);
	padding:15px;
	text-align:center;
	margin-top: 47px;
	position: absolute;
	margin-left: 287px;
	width: auto;


}
.pat_sub_banner>p{
	display:inline-block;
	color:#FFFFFF;
	font-size:8px;
}
.colortable{
	background-color: #00890E !important;
	color: white;
}

.pat_confirm1_box{
	display:none;
    width:100%;
	height:100%;
	position:fixed;
	top:0px;
	z-index:999990;
}

.pat_confirm1_box1{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	z-index:777770;
}

.pat_confirm1_box_wrapper{
	padding:8px;
	background: #f8f8f8;
	width:338px;
	margin-top:10%;

	box-shadow:0px 0px 10px #000000;
}




.pat_close_btn{
	float:right;
	position:fixed;
	background:#FFFFFF;
	border:0px;
	padding:0px;
	border-radius:20px;
	margin-left:352px;
	margin-top:-16px;
	outline:none;
}
.pat_close_btn>img{
	width:25px;
}

.pat_close_btn1{
	float:right;
	position:fixed;
	background:#FFFFFF;
	border:0px;
	padding:0px;
	border-radius:20px;
	margin-left:578px;
	margin-top:-18px;
	outline:none;
}
.pat_close_btn1>img{
	width:25px;
}

.pat_view_btn_1{
	width: 100px;
	font-size:10px;
	padding: 7px;
	background: #006d16;
	border:1px solid #006d16;
	border-radius: 3px;
	color: #FFF;
}

.pat_view_btn_2{
	width: 400px;
	font-size:10px;
	padding: 7px;
	background: #006d16;
	border:1px solid #006d16;
	border-radius: 3px;
	color: #FFF;
}
.pat_success1_box{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	z-index:9999999;
}

.pat_success1_box_wrapper{
	padding:8px;
	background: #f5eef9;
	width:338px;
	margin-top:10%;

	box-shadow:0px 0px 10px #000000;
}
.pat_success1_box_wrapper1{
	padding:8px;
	background:#4CBC5B;
	width:338px;
	margin-top:10%;

	box-shadow:0px 0px 10px #000000;
}

.over{
	width:100%;
	max-width: 100%;
	overflow-x: hidden;
}

.c_pat_view_btn_tip{
	width: 120px;

	padding: 2px;
	background: #4CBC5B;
	border:1px solid #006d16;
	border-radius: 3px;
	color: #FFF;
}

.c_pat_view_btn12{
	width: 920px;

	padding: 7px;
	background: #006d16;
	border:1px solid #006d16;
	border-radius: 3px;
	color: #FFF;
}

.customizeTableHead {
	height: 30px;
	background-color: #777;
	box-shadow:  0 2px 0 rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .25);
    text-align:center;
	color: white;
	border-top:1px solid #ddd;
	border-right: 1px solid #ddd

}

.tabledesign1{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border:1px solid #ddd;box-shadow:  0 2px 0 rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .25);
}

.customizeTableHead1{

	height: 30px;
	background-color: #777;
	box-shadow:  0 2px 0 rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .25);
	text-align:center;
	color: white;
	border-top:1px solid #ddd;
	border-right: 1px solid #ddd
}


.tabledesign2{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border:1px solid #ddd;box-shadow:  0 2px 0 rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .25);
}


.c_warning_tips_reg{
	display: none;
	margin-left: 30px;
	color: red;
	font-size: 13px;
}

.c_form_margin_10{
	margin-top:10px;
}

.c_warning_admin_reg{
	display: none;
	margin-left: 30px;
	color: red;
	font-size: 13px;
}

.c_top_ul1{
	padding:0px;
	list-style:none;
	margin-bottom:0px;
	display:inline-block;

}
.c_top_ul1 li{

}




.pagination>li>a{
	padding: 10px 17px;
	color: #035600;
	background-color: #F8FFF7;
}
.pagination>.active>a{
	background-color: #39B54A;
	border-color: #035600;
}
.pagination>.active>a:focus,
.pagination>.active>a:hover{
	background-color: #41df53;
	border-color: #035600;
}

.c_button_1{
	width:100%;
	background:#2CA02C;
	border:1px solid #228500;
	padding:10px 20px;
	color:#FFFFFF;
	font-size:25px;
}
.c_button_1:hover{
	background:#00890E;
}

.c_pat_view_btn_com{
	width: 100px;
    padding: 0px;
	background: #006d16;
	border:1px solid #006d16;
	border-radius: 3px;
	color: #FFF;
}

.c_user_view_box{

	margin-left:10px;
	width:280px;
	background-color: #349641;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.58);
	border-radius:13px;
	margin-top:10px
}
.c_user_view_box:hover{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.88);
	border-radius: 5px;
}

.c_img_upload_btn_admin{
	background: #228500;
	border: 1px solid #228500;
	color: #FFF;
	padding: 4px 8px;
	width: 100%;
	margin-top: 3px;
}
.c_img_upload_btn_admin:hover{
	background:#2AA700;
}
.disable_btn{
	disabled:"disabled";
}

.a_password_inputs{
	display:none;
	width: 250px;
	height: 50px;
	position: absolute;
	bottom: 29%;
	right: -240px;
	z-index: 999;
}
.a_password_inputs1{
    display:none;
	width: 250px;
	height: 50px;
	position: absolute;
	bottom: 23%;
	right: -240px;
	z-index: 999;
}
#a_in_ps_div_1{
	width: 0px;
	height: 40px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 25px solid #3db43d;
}
#a_in_ps_div_2{
	padding: 10px;
	background: #3db43d;
	width: 300px;
	height: 185%;
	/* float: right; */
	margin-left: 25px;
	margin-top: -66px;
	/* margin-left: -1px; */
	border-radius: 2px;
	color: #fff;
	font-size: 13px;
	text-shadow: 0px 0px 5px #000;
}

.a_doc_box{
	/* background: #39b54a; */
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.7, #0FAF25) );
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #0FAF25 70%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #0FAF25 70%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #0FAF25 70%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #0FAF25 70%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #0FAF25 70%);
	padding: 15px 0px;
	border-bottom: 5px solid #257931;
}
.a_doc_box:hover{
	cursor:pointer;
	/*background:#309A3F;*/
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.7, #257931) );
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #257931 70%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #257931 70%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #257931 70%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #257931 70%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #257931 70%);
	border-bottom: 5px solid #ffd402;
}

.c_top_ulp{
	padding:0px;
	list-style:none;


}
.c_top_ulp li{
	display:inline-block;
}

.fet_doc_close_btn{
	float:right;
	position:fixed;
	background:#FFFFFF;
	border:0px;
	padding:0px;
	border-radius:20px;
	margin-left:848px;
	margin-top:-19px;
	outline:none;
}
.fet_doc_close_btn>img{
	width:25px;
}
/*--------------------------End patient admin CSS  --------------------------------------*/






/* ---------------------------------------------------------------------------------------------------- */
/* -------------------------------- Css for Forum in Admin Panel START -------------------------------- */

.forumAdminHead {
	font-size: 30px;
	font-weight: 400;
	color:#444;
	font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue';
	margin: 40px 40px 0 40px;
}
.txtSearchQuestion {
	height: 40px;
	color: #ADADAD;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #aaa;
	background-size: 27px;
	background-position-x: 97%;
	font-size: 14px;
	width:320px;
	border:1px solid #CCC;
	outline:none;
	border-radius:2px;
	padding-left:15px;
	padding-right:15px;
	font-family: 'Open Sans', Arial;
}
#addCategory {
	margin: 20px 40px 0 40px;
}

.forumLeftCol {
	width: 65%;
	position: absolute;
	left: auto;
}
.forumRightCol {
	width: 220px;
	position: absolute;
	right: 40px;
}

.forumTxtLabel {
	color:#444;
	margin-left: 4px;
	margin-bottom: -2px;
}
.forumCatNameTxt {
	height:40px;
	width:100%;
	border:1px solid #CCC;
	outline:none;
	border-radius:2px;
	padding-left:15px;
	padding-right:15px;
	font-size:14px;
	margin-top:5px;
	font-family: 'Open Sans', Arial;
}
.forumCatDescriptionTxt {
	height:200px;
	width:100%;
	border:1px solid #CCC;
	outline:none;
	border-radius:2px;
	padding: 15px 15px 15px 15px;
	font-size:14px;
	margin-top:5px;
	font-family: 'Open Sans', Arial;
}
.forumCatNameTxt:focus, .forumCatDescriptionTxt:focus {
	border-color: #55aa55;
	box-shadow: inset 0 0 8px rgba(0,255,0,.2);
}
#forumCatImageDiv {
	height: 220px;
	width: 220px;
	border: 1px solid #BBBBBB;
	box-shadow: inset 0 0 8px rgba(0,0,0,.2);
	border-radius: 3px;
	overflow-y: hidden ! important;
	overflow-x: hidden ! important;
	background-color: #fff;
	background-image: url('../../assets_social/img/upload_image.png');
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: center 25%;
}

#forumCatImgUploadBtn {
	height: 45px;
	width: 100%;
	background-color: #C3C3C3;
	border: 1px solid;
	border-color: #BDBDBD #BDBDBD #AFAFAF #B5B5B5;
	border-radius:3px;
	margin-top: 17px;
	font-size:16px;
	font-family:'Open Sans', Tahoma, 'Roboto';
	color:#444;
	transition: all 0.5s  ease-out;
}
#forumCatImgUploadBtn:hover {
	background-color: #a9a9a9;
	border-color: #afafaf #a3a3a3 #949494 #a3a3a3;
	border-width:2px 1px 2px 1px;
	box-shadow: 0 0px 0 rgba(0, 0, 255, .2), 0 1px 5px rgba(0, 0, 255, .15);
}
#forumCatSaveBtn {
	height: 45px;
	width: 100%;
	background-color: #39b54a;
	border:1px solid;
	border-color: #3db43d #34b434 #2eb42e #2eb42e;
	border-radius:3px;
	margin-top: 17px;
	font-size:16px;
	font-family:'Open Sans', Tahoma, 'Roboto';
	color:#fff;
	transition: all 0.5s  ease-out;
}
#forumCatSaveBtn:hover {
	background-color: #359f46;
	border-color: #34a334 #30a430 #228722 #2fa52f;
	border-width:2px 1px 2px 1px;
	box-shadow: 0 0px 0 rgba(0, 0, 255, .2), 0 1px 5px rgba(0, 0, 255, .15);
}

#availableForumCatList {
	margin: 20px 40px 0 40px;
	padding-bottom: 50px;
}

.catCard {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 1px solid #888;
	border-radius: 4px;
	height: 250px;
	width: 250px;
	box-shadow:  0 2px 0 rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .25);
}

.catImageView {
	position:relative;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 18px;
	height: 100%;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 81%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 10%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 81%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 10%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 81%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.catImageViewFrame {
	border-radius: 3px;
	overflow-y: hidden ! important;
	overflow-x: hidden ! important;
	background-color: #fff;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;
}
.catImageBtnDiv {
	position: absolute;
	right:    5px;
	bottom:   5px;
}

.btnForumOrange {
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	background-color: #ffa433;
	border-color: #f4a446 #e59a40 #d9923b #e59a40;
	color:#fff;
}
.btnForumOrange:hover {
	background-color: #ff9c20;
	border-color: #dc943e #d1873f #c68337 #d48f3a;
}
.btnForumRed {
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	background-color: #ff5d5d;
	border-color: #ff3d3d #ff2d2d #ff1d1d #ff2d2d;
	color:#fff;
	overflow-y: hidden ! important;
	overflow-x: hidden ! important;
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url('../../assets_social/img/trash_awesome_w.png');
}
.btnForumRed:hover {
	background-color: #ff4d4d;
	border-color: #db3939 #dc2929 #d81e1e #dd2c2c;
	background-image: url('../../assets_social/img/trash_awesome_w.png');
	cursor: pointer;
}

.btnForumCard {
	font-size:14px;
	height:40px;
	width:40px;
	border-width:1px 1px 1px 1px;
	border-radius:3px;
	text-decoration: none;
	cursor: default;
}

#forumQuestionsDiv {
	margin: 20px 0px 0 0px;
}
.questionCard {
	background-color: #fff;
	font-size: 15px;
	line-height: 35px;
	position: relative;
	float: left;
	margin-bottom: 8px;
	border: 1px solid #E6E6E6;
	border-radius: 2px;
	height: 40px;
	width: 100%;
	box-shadow: 0 2px 0 rgba(0, 0, 0, .05), 0 2px 3px rgba(0, 0, 0, .15);
}
.questionIDDiv {
	text-align: center;
	position: absolute;
	left: 0;
	height: 100%;
	width: 5%;
	border-right: 1px solid #cbcbcb;
}
.questionTextDiv {
	padding-left: 15px;
	text-align: left !important;
	position: absolute;
	left: 5%;
	height: 100%;
	width: 80%;
	overflow: hidden;
}
.questionActionDiv {
	border-left: 1px solid #cbcbcb;
	text-align: right !important;
	position: absolute;
	left: 85%;
	height: 100%;
	width: 15%;
	padding: 0px;
}
.btnQuestionCard {
	font-size:15px;
	height: 100%;
	width: 48%;
	border:none;
	margin: 0;
	text-decoration: none;
	cursor: default;
}
.btnQuestionOrange {
	background-color: #ffa433;
	color:#fff;
}
.btnQuestionOrange:hover {
	background-color: #ff9c20;
}
.btnQuestionRed {
	background-color: #ff5d5d;
	color:#fff;
}
.btnQuestionRed:hover {
	background-color: #ff4d4d;
}


/* -------------------------------- Css for Forum in Admin Panel END -------------------------------- */
/* -------------------------------------------------------------------------------------------------- */