@charset "utf-8";
/* CSS Document */

.owl-pagination{
	display: none;
}

/*--- Special Custom Attributes Classes ---*/
.c_no_padding{
	padding-left:0px;
	padding-right:0px;
}
.c_float_right{
	float:right;
}
.c_href{
	text-decoration:none;
	color:#FFFFFF;	
}
.c_href:hover{
	text-decoration:none;
	color:#F4F4F4;
}
/*--- Special Custom Attributes Classes ---*/

/*--- Font Styles ---*/
.c_font_1{
	color:#32A041;
	font-size:15px;
}
.c_font_2{
	color:#FFFFFF;
	font-size:36px;
	font-weight:200;
}
.c_font_4{
	color:#39b54a;
	font-size:33px;
}
.c_font_5{
	color:#FFFFFF;
	
}
/*--- Font Styles ---*/

/*----- TextBox Styles ----- */
.c_search_text_box{
	margin-top:8px;
	width:250px;
	padding:7px 7px 7px 15px;
	border:0px;
	background:rgba(255,255,255,0.57);
	border-top-left-radius:12px;
	border-bottom-left-radius:12px;
}
.c_search_text_box:focus{
	outline:none;
	box-shadow:0px 0px 10px #008201;
}
.c_search_text_box::-webkit-input-placeholder {
	padding-left: 10px;
	color: #FFF !important;
	font-style: italic;
}
.c_text_box_1{
	width:100%;
	padding:7px 12px;
	border-radius:12px;
	border:1px solid #C4C4C4;
	background:#FFFFFF;
}
.c_text_box_1:focus{
	outline:none;
	box-shadow:0px 0px 10px #008201;
}
.c_select_box_1{
	width:100%;
	padding:7px 12px;
	border-radius:12px;
	border:1px solid #C4C4C4;
	background:#FFFFFF;
}
.c_select_box_1:focus{
	outline:none;
	box-shadow:0px 0px 10px #008201;
}
/*----- TextBox Styles ----- */

/*----- Button Styles -----*/
.c_close_btn{
	float:right;
	position:fixed;
	background:#FFFFFF;
	border:0px;
	padding:5px;
	border-radius:20px;
	margin-left:308px;
	margin-top:-22px;
	outline:none;
}
.c_close_btn>img{
	width:25px;
}
.c_button_1{
	width:100%;
	background:#228500;
	border:1px solid #228500;
	padding:10px 20px;
	color:#FFFFFF;
	font-size:25px;
}
.c_button_1:hover{
	background:#2AA700;
}
.c_button_2{
	width:100%;
	background:#B8B800;
	border:1px solid #B8B800;
	padding:10px 20px;
	color:#FFFFFF;
	font-size:25px;
}
.c_button_2:hover{
	background:#A6A500;
}
.c_button_res_1{
	width:100%;
	background:#005FD4;
	border:1px solid #005FD4;
	padding:10px 20px;
	color:#FFFFFF;
	font-size:25px;
}
.c_button_res_1:hover{
	background: #0053a7;
}

.c_radio_btn{
	width: 17px;
	height: 17px;
}
#c_booking_btn{
	margin-left: 10px;
	background: #FFA500;
	color: #FFF;
	border: 1px solid #cb7a00;
	padding: 3px 50px;
}
#c_booking_btn:focus{
	outline: none;
}
#c_booking_btn:hover{
	background: #ff7c00;
}
#c_booking_btn > img{
	width: 35px;
}
/*----- Button Styles -----*/

.c_body{
	background:#F9F9F9;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.c_container{
	background:#FFFFFF;
	max-width:1280px;
}
.c_logo{
	width:250px;
}
.c_top_menu_bar{
	background:#39b54a;
	float:right;
	top:0px;
	padding:3px 13px;
	border-bottom-left-radius:10px;
}
/* ************** */
#nav_service:hover #in_ps_div_nav{
	display: block;
}
#nav_service:hover .c_sub_nav_div{
	display: block;
}
/* ************** */
.c_sub_nav_div{
	display: none;
	border-top:3px solid #035600;
	position: absolute;
	z-index: 100;
	background: #39B54A;
	padding: 0px;
	width: 500px;
	box-shadow: 0px 7px 15px #000;
}
.highlight_sub{
	cursor: pointer;
	border-left: 3px solid #035600;
	background: rgba(255, 255, 255, 0.8);
}
.highlight_sub a{
	color: black !important;
}
.c_nav_sub{
	color: #FFF;
	list-style: none;
	padding: 0px;
}
.c_nav_sub ul li{
	padding: 10px;
}
.c_nav_sub ul{
	list-style:none;
	padding: 0px;
}
.c_sub_nav_icon{
	width: 100%;
	height: 170px;
	background-image:url(../img/service_icon_1.jpg);
	background-size: cover ;
}
.nav_list_sub a{
	text-decoration: none;
	color: #FFF;
}
#in_ps_div_nav{
	display: none;
	margin-left: 30px;
	margin-top: -10px;
	position: absolute;
	z-index: 2;
	width: 0px;
	height: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #035600;
}
.c_user_top_logo{
	width:35px;
	margin-right:10px;
}
.c_top_ul{
	padding:0px;
	list-style:none;
	margin-bottom:0px;
}
.c_top_ul li{
	display:inline-block;
}
.c_top_contact_bar{
	margin-top:40px;
}
.c_logo_1{
	width:25px;
}
.c_rounded_1{
	width:auto;
	border:1px solid #9D9D9D;
	border-radius:20px;
	padding:13px 18px;
	text-decoration:none !important;
}
.c_rounded_1:hover{
	background:#EFEFEF;
	text-decoration:none !important;
}
.navbar{
	background:#39b54a;
	border-radius:0px;
	border-color:#39b54a;
	border-bottom:3px solid rgba(3,86,0,1.00);
	margin-bottom:5px;
}
.navbar-nav>li{
	margin:0px 10px;
}
.navbar-nav>li>a{
	color:#FFFFFF !important;
}
.navbar-nav>.active>a{
	background:#39b54a !important;
}
.navbar-nav>li>a:hover{
	background:#50C760 !important;
}
#c_search_icon{
	margin-left: -3px;
	cursor:pointer;
	border:0px;
	padding: 5px 5px 2px 7px;
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    background: rgba(255, 255, 255, 0.56);
}
#c_search_icon:focus{
	outline: none;
}
#c_advance_search_drop{
	margin-left: -4px;
	cursor:pointer;
	border:0px;
	padding: 7px 5px 8px 7px;
	background: rgba(255, 255, 255, 0.56);
}
#c_advance_search_drop>span{
	color: #39B54A;
}

.c_password_inputs{
	display: none;
	width: 250px;
	height: 50px;
	position: absolute;
	bottom: 27%;
	right: -240px;
	z-index: 999;
}
#in_ps_div_1{
	width: 0px;
	height: 40px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 25px solid #3db43d;
}
#in_ps_div_2{
	padding: 10px;
	background: #3db43d;
	width: 300px;
	height: 185%;
	/* float: right; */
	margin-left: 25px;
	margin-top: -66px;
	/* margin-left: -1px; */
	border-radius: 2px;
	color: #fff;
	font-size: 13px;
	text-shadow: 0px 0px 5px #000;
}
.c_captcha_box{
	width: 100%;
	height: auto;
	border: 2px solid #0F7400;
	border-radius: 5px;
	padding: 10px;
	background: rgba(255, 201, 66, 0.44);
	cursor: pointer;
}
.c_captcha_box:hover{
	border: 2px solid rgba(255, 51, 47, 1.0);
}
.c_captcha_box_in_1{
	font-size: 20px;
}
.captcha_loading{
	background: rgba(255, 255, 255, 0.82);
	position: absolute;
	margin-top: 36px;
	z-index: 999;
	margin-left: 5px;
	width: 93.5%;
	text-align: center;
	height: 68%;
	padding: 110px 0px;
}
.cap_v_2{
	display: none;
}
.c_captcha_pop_up{
	display: none;
	position: absolute;
	width: 92%;
	/* height: 300px; */
	margin-top: -387px;
}
.c_captcha_pop_up_in_1{
	border: 2px solid #0F7400;
	padding: 10px;
	width: 100%;
	height: 363px;
	background: #FFE7AC;
	border-radius: 10px;
}
#arrow_down{
	margin-left: 46%;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #0F7400;
}
.cap_img{
	padding: 0px 5px 5px 5px;
}
.cap_img>img{
	width: 100%;
	height: 125px;
	cursor: pointer;
}
#c_captcha_pop_up_in_1_head{
    background: #FF332F;
    padding: 3px 0px 3px 20px;
    width: 98%;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
}
.captcha_img_select{
	display: none;
	background: rgba(0, 164, 216, 0.55);
	position: absolute;
	z-index: 999;
	width: 85%;
	height: 85%;
	margin-top: -118px;
	margin-left: 7px;
	border: 2px solid #fff;
	border-radius: 10px;
	cursor: pointer;
}
.captcha_img_select_in{
	width: 40px;
	margin-left: 50px;
	margin-top: 32px;
}
#cpa_verify_btn{
	width: 98%;
	background: #FF852F;
	border: 0px;
	color: #FFF;
	padding: 5px;
	font-size: 15px;
	margin-left: 5px;
	/* margin-right: 10px; */
	margin-top: 5px;
}
#cpa_verify_btn:hover{
	background: #df7314;
}

/* ---- Advanced Search Box ---- */
#c_advance_search_box{
	display: none;
	position: absolute;
	background: #39B54A;
	width: 315px;
	height: 190px;
	right: 56px;
	z-index: 999;
	top: 43px;
	border-radius: 10px;
	box-shadow: 0px 3px 10px #000;
	padding: 10px;
}
.c_advanced_search li{
	margin-bottom: 7px;
}
.c_advanced_search li input{
	padding: 3px;
	font-size: 12px;
	border-radius: 5px;
	width: 100%;
}
.c_advanced_search li span{
	color: #FFF;
	font-size: 12px;
}
.c_advanced_search_btn{
	width: 100%;
	background: #f59e00;
	border: 1px solid #f59e00;
	border-radius: 2px;
	font-size: 15px;
	padding: 7px 10px;
	color: #000;
	font-weight: 500;
	margin-top: 7px;
}
.c_advanced_search_btn:hover{
	background: #dc8700;
	border:1px solid #dc8700;
}
.c_advanced_search_btn:focus{
	outline: none;
}

#c_home_banner{
	height:400px;
	background-image:url(../img/pattern.jpg);
	background-size:195px 195px;
	border-bottom:3px solid rgb(57, 181, 74);
}
.c_ul_1{
	list-style:none;
	padding:0px;
}
.c_add_margin_20{
	margin-bottom:20px;
}
.c_form_margin_10{
	margin-top:10px;
}
.c_font_3>a{
	margin-right:5px;
	margin-top:8px;
	color:#FFFFFF;
	font-size:11px;
	text-decoration:none;
}
.c_font_3>a:hover{
	color:#9CFFBA;
}
.c_sub_banner{
	background:rgba(0,0,0,0.80);
	padding:30px;
	text-align:center;
	margin-top:210px;
}
.c_sub_banner>p{
	display:inline-block;
	color:#FFFFFF;
	font-size:16px;
}
.c_health_tip{
	background: #39B54A;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: -57px;
    position: absolute;
    margin-left: -60px;
    box-shadow: 0px 0px 10px black;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.c_home_doc_tabs{
	margin-top:25px;
	padding-left:60px;
	padding-right:60px;
}
.c_doc_box{
	/* background: #39b54a; */
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.7, #0FAF25) );
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #0FAF25 70%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #0FAF25 70%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #0FAF25 70%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #0FAF25 70%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #0FAF25 70%);
	padding: 15px 0px;
	border-bottom: 5px solid #257931;
}
.c_doc_box:hover{
	cursor:pointer;
	/*background:#309A3F;*/
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.7, #257931) );
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #257931 70%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #257931 70%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #257931 70%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #257931 70%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #257931 70%);
	border-bottom: 5px solid #ffd402;
}
.c_home_com_sug {
	margin-top:30px;
	border-top:5px solid rgb( 57, 181, 74 );
	border-bottom:5px solid rgb( 57, 181, 74 );	
  	background-color: rgba(118, 255, 84, 0.251);
	padding:10px 60px;
}
.c_com_sug_doc{
	/*background:#257931;*/
	padding:20px 0px;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #28ae35), color-stop(0.7, #257931) );
	background-image: -o-linear-gradient(bottom, #28ae35 0%, #257931 70%);
	background-image: -moz-linear-gradient(bottom, #28ae35 0%, #257931 70%);
	background-image: -webkit-linear-gradient(bottom, #28ae35 0%, #257931 70%);
	background-image: -ms-linear-gradient(bottom, #28ae35 0%, #257931 70%);
	background-image: linear-gradient(to bottom, #28ae35 0%, #257931 70%);
}
.c_com_sug_doc:hover{
	/*background:#195422;*/
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #62c96a), color-stop(0.7, #2aa336) );
	background-image: -o-linear-gradient(bottom, #62c96a 0%, #2aa336 70%);
	background-image: -moz-linear-gradient(bottom, #62c96a 0%, #2aa336 70%);
	background-image: -webkit-linear-gradient(bottom, #62c96a 0%, #2aa336 70%);
	background-image: -ms-linear-gradient(bottom, #62c96a 0%, #2aa336 70%);
	background-image: linear-gradient(to bottom, #62c96a 0%, #2aa336 70%);
	cursor:pointer;
}

#c_footer{
	margin-top:40px;
	background:#39b54a;
}

.c_ul_1>a{
	text-decoration:none;
	color:#FFFFFF;
}
.c_ul_1>a:hover{
	text-decoration:none;
	color:#106600;
}

.c_check_list{
	list-style-image:url(../img/check_icon.png);
}
.c_check_list>li{
	margin-bottom:7px;
}
.c_clock_list{
	list-style-image:url(../img/clock.png);
}
.c_clock_list>li{
	margin-bottom: 7px;
}

.c_side_nav_bar{
	display: none;
	position: fixed;
	left: 0px;
	top: 32%;
	background: #39B54A;
	padding-top: 8px;
	box-shadow: 0px 0px 10px #000;
}
.c_side_nav_bar>ul>a>li{
	padding: 10px 0px;
}
.c_side_nav_bar>ul>li:hover{
	background: #0F7400;
}
.c_side_nav_active{
	background: #0F7400;
}
.c_side_nav_btn{
	background: rgba(0,0,0,0);
	border: 0px;
}
.c_side_nav_btn:focus{
	outline: none;
}
.c_side_nav_btn>img{
	width: 30px;
}

/*--- Pop up boxes---*/
.c_pop_up_box_1{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	z-index:999999;	
}
.c_pop_up_box_2{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	z-index:999999;
}
.c_pop_box_1_wrapper{
	padding:8px;
	background:#FFFFFF;
	width:338px;
	margin-top:10%;
	box-shadow:0px 0px 10px #000000;
}
#c_sign_in_box {	
	background-color: rgba( 57, 181, 74,0.9);
	width: 322px;
	height: 347px;
	z-index: 40;
	padding:5px 20px;
}
.c_pop_up_box_reservation{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	z-index:999999;
}
.c_reservation_box {
	background-color: rgb(0, 173, 255);
	width: 440px;
	height: auto;
	z-index: 40;
	padding: 5px 20px 20px 20px;
}
/*--- Pop up boxes ---*/
.c_search_filter_f{
	padding: 7px 10px;
	background:#39B54A;
	color:#FFF;
	font-size: 16px;
}
.c_hr_1{
	margin: 0px;
	border:1px solid rgba(3,86,0,1.00);
}
.c_filter_star>img{
	width:23px;
	height: 23px;
	margin-top: -3px;
}
.c_filter_star>span{
	font-size: 14px;
}
.c_filter_star{
	background: #ffff00;
	padding: 6px;
	border-radius: 5px;
	border: 1px solid #000000;
}
.c_filter_star:focus{
	outline: none;
}
.c_filter_star_active{
	background: #FF7600;
}
.c_check_box{
	margin-right: 10px !important;
	border-radius: 5px !important;
	border:1px solid #FFF;
}
#c_filter_loc_div{
	height: 139px;
	overflow-y: scroll;
	margin: 5px 5px 5px 0px;
}
#c_filter_loc_div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #39B54A;
}
#c_filter_loc_div::-webkit-scrollbar
{
	width: 6px;
	background-color: #39B54A;
}
#c_filter_loc_div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #085426;
}

#c_filter_spec_div{
	height: 139px;
	overflow-y: scroll;
	margin: 5px 5px 5px 0px;
}
#c_filter_spec_div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #39B54A;
}
#c_filter_spec_div::-webkit-scrollbar
{
	width: 6px;
	background-color: #39B54A;
}
#c_filter_spec_div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #085426;
}

.c_button_3{
	border-radius: 7px;
	width: 100%;
	background: #085426;
	border: 1px solid #228500;
	padding: 7px 20px;
	color: #FFFFFF;
	font-size: 20px;
}
.c_button_3:hover{
	background: #008017;
}
.c_doc_result_div{
	background: rgba(0, 76, 17, 0.14);
	padding: 20px 10px;
	margin-bottom: 10px;
}
.c_doc_result_div:hover{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.58);
	border-radius: 5px;
}
.c_sm_star{
	width: 20px;
}
.c_doc_view_btn{
	width: 100%;
	margin-top: 20px;
	padding: 7px;
	background: #006d16;
	border:1px solid #006d16;
	border-radius: 3px;
	color: #FFF;
}
.c_doc_view_btn:hover{
	background: #0F7400;
}

.c_search_filter_box_fixed{
	position: fixed;
	top: 22px;
	width: 275px;
	z-index: 9999999999;
}

.c_warning_tips_reg{
	display: none;
	margin-left: 30px;
	color: red;
	font-size: 13px;
}

.c_error_input_field_highlight{
	background: rgb(255, 174, 121) !important;
}
.c_error_input_field_highlight::-webkit-input-placeholder {
	color: #FFF !important;
}

#c_forgotten_pass_box,#c_access_code_box,#c_change_pass_box,#c_change_pass_suc_box{
	display: none;
	background-color: rgba( 57, 181, 74,0.9);
	width: 322px;
	height: 347px;
	z-index: 40;
	padding:5px 20px;
}
#c_fog_reset_loading{
	display: none;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	width: 290px;
	height: 260px;
	z-index: 40;
	padding: 68px 20px;
	position: absolute;
	margin-top: -280px;
	margin-left: 16px;
	box-shadow: 0px 0px 30px #000;
}
#c_fog_reset_img{
	width: 150px;
	margin-left: 50px;
}

/* Ajax Loading Search Results Page */
#c_loading_msg{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	z-index:999999;
}

.pagination>li>a{
	padding: 10px 17px;
	color: #035600;
	background-color: #F8FFF7;
}
.pagination>.active>a{
	background-color: #39B54A;
	border-color: #035600;
}
.pagination>.active>a:focus,
.pagination>.active>a:hover{
	background-color: #41df53;
	border-color: #035600;
}

.c_comment_profile_icon{
	background-color:rgba(57, 181, 74, 0.15);
	border-radius: 90px;
	width: 100%;
	height: 90px;
	background-size: 90px;
	background-position: center;
	background-repeat: no-repeat
}
.c_comment_body{
	background-color: rgba(57, 181, 74, 0.15);
	border: 1px solid rgba(45, 80, 42, 0.31);
	border-radius: 8px;
	padding: 10px;
}
#c_comments_count_span{
	float: right;
	background: rgba(255, 255, 255, 0.57);
	margin-right: 10px;
	padding: 0px 15px;
	color: #2C8E39;
	border-radius: 15px;
	font-size: 16px;
	margin-top: 3px;
}
#map-canvas{
	height: 350px;
	max-height: 350px;
	border-radius: 10px;
}
#com_tab_back{
	position: absolute;
	right: 120px;
	background: #39B54A;
	border: 0px;
	margin-top: -3px;
	display: none;
}
#com_tab_back:focus{
	outline: none;
}
#com_tab_next{
	position: absolute;
	right: 80px;
	background: #39B54A;
	border: 0px;
	margin-top: -3px;
	display: none;
}
#com_tab_next:focus{
	outline: none;
}
.c_comment_textarea{
	width: 100%;
	max-width: 100%;
	height: 150px;
	border-radius: 5px;
	padding: 7px;
}
.c_comment_textarea:focus{
	outline: none;
	box-shadow: 0px 0px 10px rgba(3, 86, 0, 0.63);
}
.c_post_comment_btn{
	padding: 8px 20px;
	background: #0F7400;
	color: #FFF;
	font-size: 16px;
	border:1px solid #0F7400;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}
.c_post_comment_btn:hover{
	background: #169800;
}
.c_rate{
	width: 22px;
	cursor: pointer;
}

.c_sug_doc_tabs{
	background-color:#39B54A;
	color: #FFFFFF;
	font-size: 15px;
	padding: 10px 40px;
	border-top-left-radius: 90px 90px;
	border-bottom-right-radius: 90px 90px;
	cursor: pointer;
}
.c_sug_doc_tabs:hover{
	background-color:#348f45;
}
.c_sug_doc_tabs_active{
	background-color:#348f45;
}

.c_sug_form_next_btn{
	font-size: 17px;
	background: #39B54A;
	border: 1px solid #39B54A;
	color: #FFF;
	padding: 3px 20px;
	border-radius: 3px;
	float: right;
}
.c_sug_form_next_btn:hover{
	background: #348f45;
	border: 1px solid #348f45;
}
.c_sug_form_next_btn:focus{
	outline: none;
	background: #348f45;
	border: 1px solid #348f45;
}
.c_spec_txt{
	margin-bottom: 14px;
}
.add_op_btn ,.rem_op_btn{
	padding: 5px;
	width: 30px;
	background: #39B54A;
	border: 2px solid #39B54A;
	color: #FFF;
}
.add_op_btn:hover ,.rem_op_btn:hover{
	background: #2d8e3d;
	border: 2px solid #2d8e3d;
}
.add_op_btn:focus ,.rem_op_btn:focus{
	outline: none;
}
.op_count_txt{
	padding: 5px 3px;
	width: 35px;
	text-align: center;
	background: #FFF;
	border: 2px solid #39B54A;
}

/* ----------  My Account Page ------------ */
.c_ac_btn_1{
	background:#39B54A;
	color: #FFF;
	padding: 7px 20px;
	cursor: pointer;
	border-bottom: 1px solid #0F7400;
}
.c_ac_btn_1:hover{
	background: #339a44;
}
.c_my_ac_doc_img{
	width: 70px;
	height: 70px;
	background-size: 100%;
	position: absolute;
	border-radius: 100px;
	margin-left: -40px;
	margin-top: -20px;
}
.c_my_ac_com_view{
	padding-left: 25px;
	max-height: 300px;
	overflow: hidden;
	overflow-y: scroll;
}

.c_my_ac_com_view::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.c_my_ac_com_view::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.c_my_ac_com_view::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #39B54A;
}
.c_img_upload_btn{
	background: #228500;
	border: 1px solid #228500;
	color: #FFF;
	padding: 8px 15px;
	width: 100%;
	margin-top: 3px;
}
.c_img_upload_btn:hover{
	background:#2AA700;
}
.c_add_doc_top_num{
	background: rgba(255, 224, 0, 0.55);
	border-radius: 40px;
	padding: 10px 16px;
}

/* ----------  My Account Page ------------ */

.c_pre_spec{
	background: rgba(255, 255, 255, 0.61);
	width: 100%;
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 4px 10px;
}

.c_pre_opt{
	max-height: 130px;
	overflow: hidden;
	overflow-y:scroll;
	padding-right: 10px
}
.c_pre_opt::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.c_pre_opt::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
.c_pre_opt::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #b53800;
}
.c_pre_btn{
	padding: 10px 50px;
	background: #006d16;
	font-size: 18px;
	color: #FFF;
	border: 1px solid #006d16;
}
.c_pre_btn:hover{
	background: #00971a;
	border: 1px solid #00971a;
}

#c_pre_description{
	color: #000;
	text-align: justify;
	max-height: 60px;
	overflow-y: hidden;
}

/*body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #19b901;
}*/

/* Side Helper */
.c_side_helper{
	position: fixed;
	z-index:10;
	padding: 5px;
	background: #3db43d;
	right: 0px;
	bottom: 100px;
	border: 1px solid #0F7400;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 10px #000;
}
.c_in_helper{
	display: none;
	position: fixed;
	z-index:10;
	right: -10px;
	bottom: 0px;
}
.c_in_helper_1{
	display: none;
	width: 200px;
	height: 60px;
	background: #d9d9d9;
	position: fixed;
	padding: 4px;
	right: 65px;
	bottom: 30px;
	box-shadow: 0px 0px 10px #000;
	border-radius: 20px;
}
.c_in_helper_1>div{
	border-radius: 15px;
	max-height: 100%;
	max-width: 100%;
	width: 100%;
	height: 100%;
	padding: 5px;
	background: #fff;
	font-weight: 500;
}
#c_in_help_close_btn{
	width:20px;
	display: none;
	right: 0px;
	position: fixed;
	bottom: 185px;
	cursor: pointer;
}

.c_helper_chat{
	position: fixed;
	right: 8px;
	bottom: 0px;
	z-index: 100000;
	display: none;
}
#c_chat_close_btn{
	box-shadow: 0px 0px 10px;
	margin-bottom: -20px;
	position: fixed;
	right: 0px;
	bottom:305px;
	background: #fff;
	padding: 2px 3px 3px 3px;
	border-radius: 20px;
}
#c_chat_close_btn>img{
	cursor: pointer;
}
#c_try_chat_btn{
	display: none;
	background: #FF9200;
	border: 1px solid #000;
	border-radius: 5px;
	color: #FFF;
	padding: 4px 30px;
	margin-top: -2px;
	margin-left: 16px;
}
#c_try_chat_btn:hover{
	background: #da7700;
}
#c_try_chat_btn:focus{
	outline: none;
}
.c_chat_msg_text_1{
	 background:rgb(255, 255, 255);
	display: inline-block;
	float: right;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.65);
	/* margin: -18px 24px 10px 20px; */
	margin-left: 12px;
	border: 1px solid #009A93;
}
.c_chat_icon_1{
	width: 20px;
	float: right;
	z-index: 1000;
	margin-right: 2px;
}
.c_chat_msg_text_2{
	 background: rgb(255, 255, 255);
	display: inline-block;
	float: left;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.65);
	/* margin: -18px 20px 10px 24px; */
	margin-right: 12px;
	border: 1px solid #A90000;
}
.c_chat_icon_2{
	width: 20px;
	float: left;
	z-index: 1000;
	margin-left: 2px;
}
.c_chat_box{
	height: 90%;
	width: 100%;
	padding-top: 12px;
	overflow-y: scroll;
	background: rgba(241, 88, 34, 0.07);
}
.c_chat_box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.c_chat_box::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}
.c_chat_box::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #19b901;
}
#chat_message_txt{
	width: 80%;
	height: 100%;
	padding:0px 5px 0px 5px;
}
.c_chat_send{
	float: right;
	width: 20%;
	height: 100%;
	background: #ff9715;
	border: 0px;
	cursor: pointer
}
.c_chat_send:hover{
	background: #de8214;
}
#chat_message_txt::-webkit-input-placeholder {
	padding-left: 10px;
	color: rgb(0, 0, 0) !important;
	font-style: italic;
}
/* Side Helper */

/* Ayurvedic Therapies */
.c_video_wrapper{
	width: 100%;
	height: 350px;
	position: relative;
	z-index: 1;
	background: rgba(255,255,255,0.66);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.66) 0%, rgba(0,0,0,0.18) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.66)), color-stop(100%, rgba(0,0,0,0.18)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.66) 0%, rgba(0,0,0,0.18) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.66) 0%, rgba(0,0,0,0.18) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.66) 0%, rgba(0,0,0,0.18) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}
.c_therapy_icon{
	width: 160px;
	height: 160px;
	background-size: 223px;
	border-radius: 100px;
	float: none;
	margin-left: auto;
	margin-right: auto;
	border:3px solid #f5c900;
}

.c_therapy_cards{
	padding: 15px 10px;
	margin: 15px;
	background: #3db43d;
	border-radius: 3px;
	/*box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);*/
}
.c_therapy_cards:hover
{
	border-radius: 5px;
	background: #26942e;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.64);
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.2);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.05);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.05);
	transition: all 200ms ease-in;
	transform: scale(1.05);
}

.c_therapy_heading{
	color: #FFF;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	padding: 10px 0px 0px 0px;
	margin-bottom: 0px;
}
.c_therapy_des{
	text-align: justify;
	padding: 10px 10px 0px 10px;
	color: rgb(188, 255, 158);
	font-style: italic;
	margin-bottom: 0px;
	font-size: 13px;
}